automation/n8n/prompt-template-generate.workflow.json
{
  "name": "Image Prompt Library - Template Generate",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "image-prompt-library-template-generate_webhook",
      "name": "Webhook Prompt Template Generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        80
      ],
      "parameters": {
        "path": "image-prompt-library-template-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "image-prompt-library-template-generate"
    },
    {
      "id": "prepare_prompt_template_generate_payload",
      "name": "Prepare Prompt Template Generate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        80
      ],
      "parameters": {
        "jsCode": "const body = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst template = body.template && typeof body.template === 'object' ? body.template : {};\nconst slots = Array.isArray(template.slots) ? template.slots : [];\nconst previousVariants = Array.isArray(body.previousVariants) ? body.previousVariants : [];\n\nconst templateId = String(template.id ?? '').trim();\nconst itemId = String(template.itemId ?? template.item_id ?? '').trim();\nconst sourceLanguage = String(template.sourceLanguage ?? template.source_language ?? '').trim() || 'original';\nconst rawText = String(template.rawText ?? template.raw_text ?? '').trim();\nconst markedText = String(template.markedText ?? template.marked_text ?? '').trim();\nconst themeKeyword = String(body.themeKeyword ?? body.theme_keyword ?? '').trim();\nconst llmModel = String(body.model ?? 'gpt-5.4-mini').trim() || 'gpt-5.4-mini';\n\nif (!templateId) throw new Error('Missing template.id');\nif (!itemId) throw new Error('Missing template.itemId');\nif (!markedText) throw new Error('Missing template.markedText');\nif (!themeKeyword) throw new Error('Missing themeKeyword');\nif (!Array.isArray(slots) || slots.length === 0) throw new Error('Template slots are required');\n\nconst normalizedSlots = slots.map((slot) => ({\n  id: String(slot.id ?? '').trim(),\n  group: String(slot.group ?? 'content').trim() || 'content',\n  label: String(slot.label ?? slot.id ?? '').trim() || String(slot.id ?? '').trim(),\n  original_text: String(slot.original_text ?? slot.originalText ?? '').trim(),\n  role: String(slot.role ?? '').trim(),\n  instruction: String(slot.instruction ?? '').trim(),\n}));\n\nfor (const slot of normalizedSlots) {\n  if (!slot.id) throw new Error('Every slot must include an id');\n  if (!slot.original_text) throw new Error(`Slot ${slot.id} is missing original_text`);\n}\n\nconst systemPrompt = [\n  'You are a prompt remix engine for an image prompt library.',\n  'You receive a marked prompt template with immutable skeleton text and editable slot regions.',\n  'You must preserve the skeleton exactly and only propose new text for the provided slots.',\n  'Do not return a full prompt. Return slot values only.',\n  'When the user changes the theme keyword, rewrite the variable regions holistically so the whole prompt stays stylistically coherent.',\n  'Different slots may need coordinated changes. Think across all slots together before responding.',\n  'Never invent or remove slot ids.',\n  'Return valid JSON only with keys slotValues and changeSummary.',\n  'slotValues must be an array of objects with keys slot_id and text.',\n  'You must include every slot exactly once.',\n  'text must contain only the replacement content for that slot, without any slot markers or extra commentary.',\n  'changeSummary should briefly explain the coordinated rewrite.'\n].join(' ');\n\nconst slotListText = JSON.stringify(normalizedSlots, null, 2);\nconst previousVariantText = JSON.stringify(previousVariants.map((variant) => ({\n  iteration: variant.iteration,\n  renderedText: variant.renderedText ?? variant.rendered_text ?? '',\n  slotValues: variant.slotValues ?? variant.slot_values ?? [],\n  changeSummary: variant.changeSummary ?? variant.change_summary ?? '',\n})), null, 2);\n\nconst userPrompt = [\n  'Rewrite the marked prompt slots for a new theme.',\n  `Template ID: ${templateId}`,\n  `Item ID: ${itemId}`,\n  `Source language: ${sourceLanguage}`,\n  `Theme keyword: ${themeKeyword}`,\n  '',\n  'Marked template:',\n  markedText,\n  '',\n  'Original prompt:',\n  rawText || '(not provided)',\n  '',\n  'Slots:',\n  slotListText,\n  '',\n  'Rejected / previous variants to avoid repeating too closely:',\n  previousVariantText,\n  '',\n  'Return JSON only.',\n].join('\\n');\n\nreturn [{\n  json: {\n    slotIds: normalizedSlots.map((slot) => slot.id),\n    requestPayload: {\n      model: llmModel,\n      stream: true,\n      input: [\n        {\n          role: 'system',\n          content: [{ type: 'input_text', text: systemPrompt }],\n        },\n        {\n          role: 'user',\n          content: [{ type: 'input_text', text: userPrompt }],\n        },\n      ],\n      text: {\n        format: {\n          type: 'json_object',\n        },\n      },\n      max_output_tokens: 1600,\n    },\n  },\n}];\n"
      }
    },
    {
      "id": "call_asxs_responses_for_template_generate",
      "name": "Call ASXS Responses For Template Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.asxs.top/v1/responses",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.requestPayload}}",
        "responseFormat": "string",
        "options": {
          "timeout": 120000
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi"
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "openAiApi": {
          "id": "WwKQlbKl3pE8swBl",
          "name": "ASXS"
        }
      }
    },
    {
      "id": "format_prompt_template_generate_output",
      "name": "Format Prompt Template Generate Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        80
      ],
      "parameters": {
        "jsCode": "const source = $json;\n\nconst raw = typeof source.body === 'string'\n  ? source.body\n  : typeof source.data === 'string'\n    ? source.data\n    : typeof source === 'string'\n      ? source\n      : JSON.stringify(source);\n\nif (typeof source.statusCode === 'number' && source.statusCode >= 400) {\n  throw new Error(raw.slice(0, 2000));\n}\n\nconst safeParseLoose = (value) => {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return value;\n  const normalized = trimmed\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n  if (!(normalized.startsWith('{') || normalized.startsWith('['))) return value;\n  try {\n    return JSON.parse(normalized);\n  } catch {\n    return value;\n  }\n};\n\nconst textCandidates = [];\nconst objectCandidates = [];\nconst seenText = new Set();\nlet deltaBuffer = '';\n\nconst pushText = (value) => {\n  if (typeof value !== 'string') return;\n  const text = value.trim();\n  if (!text || seenText.has(text)) return;\n  seenText.add(text);\n  textCandidates.push(text);\n};\n\nconst pushObject = (value) => {\n  if (!value || typeof value !== 'object') return;\n  objectCandidates.push(value);\n};\n\nconst walk = (node) => {\n  if (!node) return;\n  if (typeof node === 'string') {\n    const parsed = safeParseLoose(node);\n    if (parsed !== node) {\n      walk(parsed);\n      return;\n    }\n    pushText(node);\n    return;\n  }\n  if (Array.isArray(node)) {\n    node.forEach(walk);\n    return;\n  }\n  if (typeof node !== 'object') return;\n\n  pushObject(node);\n\n  const nodeType = typeof node.type === 'string' ? node.type : '';\n  const nodeEvent = typeof node.event === 'string' ? node.event : '';\n  if (typeof node.delta === 'string' && /output_text\\.delta$/i.test(nodeType || nodeEvent || '')) {\n    deltaBuffer += node.delta;\n  }\n  if (typeof node.text === 'string' && /output_text\\.done$/i.test(nodeType || nodeEvent || '')) {\n    pushText(node.text);\n  }\n  if (node.part && typeof node.part === 'object' && typeof node.part.text === 'string') {\n    pushText(node.part.text);\n  }\n  if (typeof node.output_text === 'string') {\n    pushText(node.output_text);\n  }\n  if (Array.isArray(node.output_text)) {\n    for (const chunk of node.output_text) {\n      if (typeof chunk === 'string') pushText(chunk);\n      else if (chunk && typeof chunk === 'object' && typeof chunk.text === 'string') pushText(chunk.text);\n    }\n  }\n\n  for (const [key, value] of Object.entries(node)) {\n    if (key === 'delta' || key === 'text' || key === 'output_text') continue;\n    walk(value);\n  }\n};\n\nconst normalized = raw.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\nconst blocks = normalized.split('\\n\\n').map((item) => item.trim()).filter(Boolean);\nlet parsedSse = false;\nfor (const block of blocks) {\n  const lines = block.split('\\n');\n  const dataLines = [];\n  let eventType = '';\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (!trimmed || trimmed.startsWith(':')) continue;\n    if (trimmed.startsWith('event:')) {\n      eventType = trimmed.slice(6).trim();\n      continue;\n    }\n    if (trimmed.startsWith('data:')) dataLines.push(trimmed.slice(5).trim());\n  }\n  if (dataLines.length === 0) continue;\n  parsedSse = true;\n  const merged = dataLines.join('\\n').trim();\n  if (!merged || merged === '[DONE]') continue;\n  try {\n    const payload = JSON.parse(merged);\n    if (eventType && (!payload.type || typeof payload.type !== 'string')) payload.type = eventType;\n    walk(payload);\n  } catch {\n    pushText(merged);\n  }\n}\n\nif (!parsedSse) walk(safeParseLoose(normalized));\nif (deltaBuffer.trim()) pushText(deltaBuffer);\n\nconst parsedTextObjects = textCandidates.map((item) => safeParseLoose(item)).filter((item) => item && typeof item === 'object');\nconst allObjects = [source, ...objectCandidates, ...parsedTextObjects].filter((item) => item && typeof item === 'object');\n\nconst readByPath = (payload, path) => {\n  let cursor = payload;\n  for (const segment of path) {\n    if (!cursor || typeof cursor !== 'object') return undefined;\n    cursor = cursor[segment];\n  }\n  return cursor;\n};\n\nlet slotValues = null;\nlet changeSummary = '';\nfor (const candidate of allObjects) {\n  const nextSlotValues = readByPath(candidate, ['slotValues']) ?? readByPath(candidate, ['slot_values']) ?? readByPath(candidate, ['data', 'slotValues']) ?? readByPath(candidate, ['result', 'slotValues']);\n  if (!slotValues && Array.isArray(nextSlotValues)) slotValues = nextSlotValues;\n  if (!changeSummary) {\n    const nextSummary = readByPath(candidate, ['changeSummary']) ?? readByPath(candidate, ['change_summary']) ?? readByPath(candidate, ['notes']) ?? readByPath(candidate, ['data', 'changeSummary']);\n    if (typeof nextSummary === 'string' && nextSummary.trim()) changeSummary = nextSummary.trim();\n  }\n}\n\nif (!slotValues) {\n  throw new Error('Workflow returned no slotValues array.');\n}\n\nconst normalizedSlotValues = slotValues.map((value) => {\n  const slotId = String(value.slot_id ?? value.slotId ?? '').trim();\n  const text = String(value.text ?? '').trim();\n  if (!slotId) throw new Error('Each slot value must include slot_id.');\n  if (!text) throw new Error(`Slot ${slotId} is missing replacement text.`);\n  return { slot_id: slotId, text };\n});\n\nconst expectedSlotIds = $item(0).$node['Prepare Prompt Template Generate Payload'].json.slotIds;\nconst seenIds = new Set();\nfor (const value of normalizedSlotValues) {\n  if (seenIds.has(value.slot_id)) throw new Error(`Duplicate slot_id: ${value.slot_id}`);\n  seenIds.add(value.slot_id);\n}\nfor (const expectedId of expectedSlotIds) {\n  if (!seenIds.has(expectedId)) throw new Error(`Missing slot value for ${expectedId}`);\n}\nif (normalizedSlotValues.length !== expectedSlotIds.length) {\n  throw new Error('Workflow returned an unexpected number of slot values.');\n}\n\nreturn [{\n  json: {\n    slotValues: normalizedSlotValues,\n    changeSummary,\n  },\n}];\n"
      }
    }
  ],
  "connections": {
    "Webhook Prompt Template Generate": {
      "main": [
        [
          {
            "node": "Prepare Prompt Template Generate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt Template Generate Payload": {
      "main": [
        [
          {
            "node": "Call ASXS Responses For Template Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ASXS Responses For Template Generate": {
      "main": [
        [
          {
            "node": "Format Prompt Template Generate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
